body { background: #ea5d49; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 26px; display: flex; }
.block-metrics-0 { color: #f170fd; font-size: 14px; margin-bottom: 5px; }
.block-cart-1 { color: #269970; font-size: 15px; margin-bottom: 5px; }
.block-product-2 { color: #ec968a; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #ff07e; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #6b4e6a; font-size: 21px; margin-bottom: 5px; }
.block-cache-5 { color: #173508; font-size: 14px; margin-bottom: 5px; }
.block-cache-6 { color: #755d60; font-size: 20px; margin-bottom: 5px; }
.block-sms-7 { color: #272de2; font-size: 17px; margin-bottom: 5px; }
.block-helper-8 { color: #9a5f2; font-size: 21px; margin-bottom: 5px; }
.block-cache-9 { color: #508915; font-size: 20px; margin-bottom: 5px; }